---
- name: Gather facts
  hosts: all
  gather_facts: true

- name: Configure DB Server
  hosts: db
  # become: true
  vars_files:
    - secrets.yml
  roles:
    # - role: mysql-server
    - role: todolist-db

- name: Configure Web Server
  hosts: web
  become: true
  vars_files:
    - secrets.yml

  # vars:
  #   moved to group_vars file 

  roles:
    - role: tomcat-server
    - role: todo-webapp


        
